name: Deploy to Self-Hosted Runner

on:
  push:
    branches:
      - main  # Ejecuta el deploy solo cuando haya un push a la rama "main"

jobs:
  deploy:
    runs-on: self-hosted  # Usa el runner self-hosted configurado para este proyecto

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to specific directory
        env:
          PYTHON_ENV: production
        run: |
          TARGET_DIR=~/python  # Define el directorio objetivo
          
          # Crear el directorio si no existe
          mkdir -p "$TARGET_DIR"
          
          # Copiar los archivos Python al directorio objetivo
          cp -R ./*.py "$TARGET_DIR"

          echo "Archivos Python desplegados en $TARGET_DIR"
